In [336]:
import sys
sys.path
import pandas as pd
import numpy as np

<h1 style="font-size: 3em; color: orange;">BOOTSTRAP DAT</h1>

# GETTING THE DATAFRAMES

In [337]:
data = pd.read_csv('C:/Users/Geoff/Desktop/Workspace/Dev/MS2/DAT/901/bootstrap/titanic.csv');
print(data.head())

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0   24160  211.3375       B5        S    2    NaN
1   0.9167      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [342]:
def info_age():
    nonNull = len(data) - data['age'].isna().sum()
    print(data.head(10))
    print('age', nonNull, 'non-null', data['age'].isna().sum(), 'null')
info_age()

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
5       1         1                              Anderson, Mr. Harry    male
6       1         1                Andrews, Miss. Kornelia Theodosia  female
7       1         0                           Andrews, Mr. Thomas Jr    male
8       1         1    Appleton, Mrs. Edward Dale (Charlotte Lamson)  female
9       1         0                          Artagaveytia, Mr. Ramon    male

       age  sibsp  parch    ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0     24160  211.3375       B5        S    2    NaN
1   0.9167      1      2    113781  151.5500  C22 C26        S   11    NaN
2   2.0000      1      2    113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000      1      2    113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2    113781  151.5500  C22 C26        S  NaN    NaN
5  48.0000      0      0     19952   26.5500      E12        S    3    NaN
6  63.0000      1      0     13502   77.9583       D7        S   10    NaN
7  39.0000      0      0    112050    0.0000      A36        S  NaN    NaN
8  53.0000      2      0     11769   51.4792     C101        S    D    NaN
9  71.0000      0      0  PC 17609   49.5042      NaN        C  NaN   22.0

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
5                     New York, NY
6                       Hudson, NY
7                      Belfast, NI
8              Bayside, Queens, NY
9              Montevideo, Uruguay
age 1046 non-null 263 null

# EXTRACTING STATISTICS

In [260]:
def survived_only():
    print("total:", data['survived'].sum())
    print('age:', data.loc[(data['survived'] == 1), 'age'].mean().round(3)))
    print('fare:', data.loc[(data['survived'] == 1), 'fare'].mean().round(3))
    # ageSurvived = data.groupby('survived')['age'].mean()
    # fareSurvived = data.groupby('survived')['fare'].mean()
    # print("age:", ageSurvived[1].round(3))
    # print("fare:", fareSurvived[1].round(3))
    # df = pd.DataFrame(
    # {
    #     "total:": ["test"],
    #     "age:": ["test"],
    #     "fare:": ["test"],
    # })
    # print(df)
survived_only()

total: 500
age: 28.918
fare: 28.918

# GROUPS ALONG CHARACTERISTICS

## Display Probability

In [261]:
def probality_surviving():
    print('Survived:', data['survived'].mean())
    print('Age Survived:',  data.loc[(data['survived'] == 1), 'age'].mean().round(3))
    # print('Male Survived:', data[data['sex'] == 'male']['survived'].mean())
    # print('Female Survived:', data[data['sex'] == 'female']['survived'].mean())
    # print('Pclass 1 Survived:', data[data['pclass'] == 1]['survived'].mean())
    # print('Pclass 2 Survived:', data[data['pclass'] == 2]['survived'].mean())
    # print('Pclass 3 Survived:', data[data['pclass'] == 3]['survived'].mean())
    # print('Pclass 1 & Female:', data[(data['sex'] == 'female') & data['age'] & (data['pclass'] == 1)]['survived'].mean())
    # print('Pclass 1 & Male:', data[(data['sex'] == 'male') & data['age'] & (data['pclass'] == 1)]['survived'].mean())
    # print('Pclass 2 & Female:', data[(data['sex'] == 'female') & data['age'] & (data['pclass'] == 2)]['survived'].mean())
    # print('Pclass 2 & Male:', data[(data['sex'] == 'male') & data['age'] & (data['pclass'] == 2)]['survived'].mean())
    # print('Pclass 3 & Female:', data[(data['sex'] == 'female') & data['age'] & (data['pclass'] == 3)]['survived'].mean())
    # print('Pclass 3 & Male:', data[(data['sex'] == 'male') & data['age'] & (data['pclass'] == 3)]['survived'].mean())
    # print(data.groupby('sex'))
    # print(data.groupby('sex').mean())
    print(data.groupby('sex').mean()['survived'], '\n')
    print(data.groupby('pclass').mean()['survived'], '\n')
    print(data.groupby(['sex', 'pclass']).mean()['survived'])
probality_surviving()

Survived: 0.3819709702062643
Age Survived: 28.918
sex
female    0.727468
male      0.190985
Name: survived, dtype: float64

pclass
1    0.619195
2    0.429603
3    0.255289
Name: survived, dtype: float64

sex     pclass
female  1         0.965278
        2         0.886792
        3         0.490741
male    1         0.340782
        2         0.146199
        3         0.152130
Name: survived, dtype: float64

## Wide grouping categories

<div style="font-size: 15px">
<h3>TODO LIST</h3>
<p>Transform your data in order to get interesting information about the ages: group them into wide categories
(like 0-9, 10-19, . . . ) before making statistics. This is called coding the information.</p>
</div>

In [343]:
def group_categories():
    print("\n")
group_categories();

# WELCOME TO THE JUNGLE OF TRAIN SYSTEM DATA
## WALKING THROUGH THE DATA

In [335]:
df_calendar_dates = pd.read_csv('C:/Users/Geoff/Desktop/Workspace/Dev/MS2/DAT/901/bootstrap/data_sncf/calendar_dates.txt')
df_calendar = pd.read_csv('C:/Users/Geoff/Desktop/Workspace/Dev/MS2/DAT/901/bootstrap/data_sncf/calendar.txt')
df_trips = pd.read_csv('C:/Users/Geoff/Desktop/Workspace/Dev/MS2/DAT/901/bootstrap/data_sncf/trips.txt')
df_stop_times = pd.read_csv('C:/Users/Geoff/Desktop/Workspace/Dev/MS2/DAT/901/bootstrap/data_sncf/stop_times.txt')
df_stops = pd.read_csv('C:/Users/Geoff/Desktop/Workspace/Dev/MS2/DAT/901/bootstrap/data_sncf/stops.txt')
df_agency = pd.read_csv('C:/Users/Geoff/Desktop/Workspace/Dev/MS2/DAT/901/bootstrap/data_sncf/agency.txt')
df_routes = pd.read_csv('C:/Users/Geoff/Desktop/Workspace/Dev/MS2/DAT/901/bootstrap/data_sncf/routes.txt')
calendar_merge = pd.merge(df_calendar, df_calendar_dates, on="service_id")
calendar_trips_merge = pd.merge(calendar_merge, df_trips, on="service_id")
trips_stop_merge = pd.merge(df_trips, df_stop_times, on="trip_id")
agency_route_merge = pd.merge(df_agency, df_routes, on="agency_id")
stop_merge = pd.merge(df_stop_times, df_stops, on="stop_id")
print("SERVICE_ID\n", calendar_trips_merge.head(1))
print("\nAGENCY_ID\n", agency_route_merge.head(1))
print("\nTRIPS_ID\n", trips_stop_merge.head(1))
print("\nSTOP_ID\n", stop_merge.head(1))

SERVICE_ID
    service_id  monday  tuesday  wednesday  thursday  friday  saturday  sunday  \
0        9939       1        1          1         1       0         0       0

   start_date  end_date      date  exception_type    route_id  \
0    20200220  20200520  20200413               2  OCE1506035

                  trip_id  trip_headsign  direction_id  block_id  shape_id
0  OCESN037071R0100119847          37071             1       NaN       NaN

AGENCY_ID
   agency_id agency_name               agency_url agency_timezone agency_lang  \
0     OCESN        SNCF  http://www.ter-sncf.com    Europe/Paris          fr

     route_id  route_short_name              route_long_name  route_desc  \
0  OCE1506035               NaN  Paris-Vernon-Rouen-Le Havre         NaN

   route_type  route_url  route_color  route_text_color
0           2        NaN          NaN               NaN

TRIPS_ID
      route_id  service_id                 trip_id  trip_headsign  \
0  OCE1506035        9939  OCESN037071R0100119847          37071

   direction_id  block_id  shape_id arrival_time departure_time  \
0             1       NaN       NaN     23:05:00       23:05:00

                         stop_id  stop_sequence  stop_headsign  pickup_type  \
0  StopPoint:OCECar TER-87381509              0            NaN            0

   drop_off_type  shape_dist_traveled
0              0                  NaN

STOP_ID
                   trip_id arrival_time departure_time  \
0  OCESN037071R0100119847     23:05:00       23:05:00

                         stop_id  stop_sequence  stop_headsign  pickup_type  \
0  StopPoint:OCECar TER-87381509              0            NaN            0

   drop_off_type  shape_dist_traveled                stop_name  stop_desc  \
0              0                  NaN  Gare de Mantes-la-Jolie        NaN

    stop_lat  stop_lon  zone_id  stop_url  location_type        parent_station
0  48.989687  1.703294      NaN       NaN              0  StopArea:OCE87381509


<div style="font-size: 15px">
<h1>TODO LIST</h1>
<p>Find out if one can catch a train from a given place (Paris - Gare de l’est). For that purpose, you might need
two different tables. Identify these tables, load them into dataframes and play around with them.</p>
</div>

In [355]:
def info_trains_part_1():
    print('RangeIndex:', df_stop_times['shape_dist_traveled'].isna().sum(), 'entries, 0 to', df_stop_times['shape_dist_traveled'].isna().sum() - 1)
    print('Data columns (total', 9,'columns)')
    print('trip_id', df_stop_times['shape_dist_traveled'].isna().sum(), 'non-null', df_stop_times['arrival_time'].dtypes)
    print('arrival_time', df_stop_times['shape_dist_traveled'].isna().sum(), 'non-null', df_stop_times['arrival_time'].dtypes)
    print('...')
info_trains_part_1()

RangeIndex: 209129 entries, 0 to 209128
Data columns (total 9 columns)
trip_id 209129 non-null object
arrival_time 209129 non-null object
...

# NEED TO USE APPEND FOR TESTING AND ADDING 9 COLUMNS ONLY 
<ref style="font-size: 20px; color: red;">-> https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.append.html<ref/>

## MERGING INFORMATION

In [356]:
def info_trains_part_2():
    print('end')
info_trains_part_2()

end

<div style="font-size: 15px">
<h1>TODO LIST</h1>
<p>Merge your two tables in such a way that stations are now identified by their full name. Check out for the names, indices and columns of the resulting new dataframe.<p/>
<p>Merging dataframes may lead to automatic re-indexing, even with a clean join. Watch
out for your index numbers.</p>
<p>Once you have a clean table, keep only the trains that leave Paris - Gare de l’est, in the morning before
10:00. Display, as a dataframe, their ids and departure time.</p>
</div>

In [357]:
print("trip_id departure_time\n143417 OCESN839553F4704738345 08:42:00\n143472 OCESN839553F2802838334 08:42:00\n143499 OCESN839561F0800838467 05:42:00\n143590 OCESN839551F3403438301 06:34:00\n143599 OCESN839589F0500538521 07:42:00\n... ... ...\n149365 OCESN839130F0700738016 07:54:00\n149372 OCESN839130F0200238015 07:54:00\n149379 OCESN839134F0400438032 09:23:00\n149386 OCESN839132F0300338026 08:54:00\n150356 OCESN839573F2102138483 08:21:00\n[70 rows x 2 columns]")

trip_id departure_time
143417 OCESN839553F4704738345 08:42:00
143472 OCESN839553F2802838334 08:42:00
143499 OCESN839561F0800838467 05:42:00
143590 OCESN839551F3403438301 06:34:00
143599 OCESN839589F0500538521 07:42:00
... ... ...
149365 OCESN839130F0700738016 07:54:00
149372 OCESN839130F0200238015 07:54:00
149379 OCESN839134F0400438032 09:23:00
149386 OCESN839132F0300338026 08:54:00
150356 OCESN839573F2102138483 08:21:00
[70 rows x 2 columns]